@charset 'UTF-8';

.input-container{
    margin: 100px;
    position: relative;
}

input{
    height: 45px;
    width: 300px;
    padding-left: 45px;
}

/*tag para estilizar a tag i é a svg*/
svg{
    position: absolute;
    left: 10px;
    top: calc(50% - 12px); /*12px é metade da altura do svg*/
}